@import "./variables/variables";

* {
  font-family: "Exo 2", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Roboto", sans-serif;
}

html {
  // -webkit-text-size-adjust: 100%;
  // -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

.calls {
  animation-name: calls;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  &:hover {
    animation-play-state: paused;
  }
}

@keyframes calls {
  from {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(-5px);
  }

  66% {
    transform: translateY(5px);
  }

  to {
    transform: translateY(0px);
  }
}

.mouse {
  animation-name: mouse;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes mouse {
  from {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(-8px);
  }

  66% {
    transform: translateY(8px);
  }

  to {
    transform: translateY(0px);
  }
}

.container {
  display: block;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.slick-prev {
  display: none !important;
}

.slick-next {
  display: none !important;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s;

  &.active {
    left: 0;
    visibility: visible;
    opacity: 1;
  }

  &__close {
    position: absolute;
    right: 24px;
    top: 24px;
  }

  &__block {
    padding: 36px;
    transition: all 0.6s;
    height: 100vh;
    position: relative;
    background-color: $primaryColor;
    width: 50%;
    z-index: 10;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
  }

  .nav {
    height: auto;
    a {
      color: white;
    }
    ul {
      flex-direction: column;
    }
  }
  .mainBtn {
    margin-top: 36px;
    border: 2px solid white;
  }
}

///////////////////////////////// Header //////////////////////////////////

.header {
  padding: 0 20px;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;

  &__up {
    display: flex;
    align-items: center;
    justify-content: end;

    &-item {
      display: flex;
      gap: 8px;
    }

    &-item:nth-child(2) {
      margin-left: 48px;
    }
  }

  &__down {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }
}

.logo {
  img {
    display: block;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 40px;

  ul {
    display: flex;
    gap: 24px;
  }

  li {
    list-style-type: none;
  }

  &__item {
    font-family: "Exo 2";
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }

  a {
    display: block;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: $subtitleColor;
  }

  a:hover {
    transition: all 0.5s ease-out;
    color: $mainBlackColor;
    font-weight: 500;
  }
}

.mainBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $bgColor;
  border-radius: 24px;
  background-color: $primaryColor;
  border: none;
  padding: 0 32px;
  cursor: pointer;

  &:hover {
    transition: all 0.5s ease-out;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}

.title {
  font-weight: 600;
  font-size: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #151515;
}

.subtitle {
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  $subtitleColor: #666666;
}

///////////////////////////////// Main //////////////////////////////////

.main {
  background: url("../img/bg-img.png") center (center/cover) no-repeat;
  color: white;
  padding-bottom: 36px;

  h1 {
    padding-top: 168px;
    font-weight: 600;
    font-size: 50px;
    line-height: 110%;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  .subtitle {
    margin-top: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #dcdcdc;
    text-align: left;
  }

  &__btns {
    display: flex;
    margin-top: 32px;
    gap: 12px;

    a {
      color: white;
      text-decoration: none;
    }

    .mainBtn {
      height: 48px;
    }

    .secBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 12px;
      height: 50px;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      border-radius: 24px;
      border: 2px solid $bgColor;
      padding: 0 32px;
      cursor: pointer;
      &:hover {
        transition: all 0.5s ease-out;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }
    }
  }

  &__bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__call {
    display: flex;
    flex-direction: column;
    gap: 12px;
    img {
      cursor: pointer;
    }
  }
}

.services {
  padding-top: 90px;

  &__items {
    font-family: "Roboto";
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;

    .item {
      flex: 1 1 340px;
      cursor: pointer;
      background: url("../img/service-img/service_1.png") center (center/cover)
        no-repeat !important;
      border-radius: 12px;
      padding: 36px;

      &-text {
        font-family: "Exo 2";
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #ffffff;
      }

      &-descr {
        margin-top: 10px;
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
        color: #ffffff;
      }

      &-btn {
        margin-top: 120px;
      }

      &:hover {
        border: none;
        transition: all 0.5s ease-out;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
        transform: translateY(-10px);
      }
    }

    .item:nth-child(2) {
      cursor: pointer;
      background: url("../img/service-img/service_1.png") center (center/cover)
        no-repeat !important;
    }

    .item:nth-child(3) {
      cursor: pointer;
      background: url("../img/service-img/service_3.png") center (center/cover)
        no-repeat !important;
    }
    .item:nth-child(4) {
      cursor: pointer;
      background: url("../img/service-img/service_4.png") center (center/cover)
        no-repeat !important;
    }
    .item:nth-child(5) {
      cursor: pointer;
      background: url("../img/service-img/service_5.png") center (center/cover)
        no-repeat !important;
    }
  }
}

/////////////// Reason //////////////

.reason {
  padding-top: 90px;

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 24px;
    align-items: center;
    gap: 36px;

    .itemm {
      text-align: center;

      &_title {
        font-weight: 600;
        font-size: 42px;
        line-height: 50px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $primaryColor;
      }

      &_text {
        margin-top: 12px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: $subtitleColor;
      }
    }
  }
}

///////// Consultation ////////

.consultation {
  padding-top: 90px;

  &__move {
    &:hover {
      transform: translateY(-5px);
    }
  }

  &__item {
    background: url("../img/consultation.png") center (center/cover) no-repeat;
    text-align: start;
    border-radius: 12px;
    padding: 80px 60px;
    transition: all 0.5s ease-in-out;

    .title {
      text-align: start;
      color: white;
    }

    .subtitle {
      text-align: start;
      color: #d2d2d2;
    }
  }
}

.inputs {
  margin-top: 30px;
  display: flex;
  gap: 10px;

  input {
    border-radius: 36px;
    border: none;
    padding: 16px 24px;
  }
}

.submit {
  margin-top: 30px;
  display: flex;
  gap: 24px;

  .mainBtn {
    height: 50px;
  }

  &_item {
    display: flex;
    align-items: center;
    gap: 12px;

    &-content {
      .text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #d2d2d2;
      }

      a {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: underline;
        color: #ffffff;
      }
    }
  }
}

/////// AboutUs ///////

.aboutUs {
  padding-top: 90px;

  &__content {
    display: flex;
    gap: 72px;
    align-items: center;

    &-data {
      text-align: start;

      .title {
        text-align: start;
      }

      .subtitle {
        text-align: start; /* Надежность и эффективность защитного комплекса любого объекта зависит от правильно выполненных проектных, установочных и пусконаладочных работ. Поэтому при установке необходимых Вам систем безопасности следует довериться профессионалам. Мы - команда профессионалов, предлагающая широкий спектр услуг в области безопасности. Наша цель - обеспечить вас надежной защитой и спокойствием, позволяя сосредоточиться на вашем бизнесе или повседневных делах. Обратитесь к нам, и мы поможем создать безопасное окружение для вас и ваших близких. */
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #555555;
      }
    }

    &-img {
      transition: all 0.5s ease-in-out;
      img {
        border-radius: 10px;
      }

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}

/////// Feedback ///////

.feedback {
  padding-top: 90px;

  &__items {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 36px;

    .item {
      border-radius: 10px;
      padding: 48px 32px;
      background-color: #f5f5f5;
      border: none;
      position: relative;

      &-img {
        z-index: 100;
        position: absolute;
        top: -30px;
      }
    }
  }

  &-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  &-icons {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-top: 5px;
  }

  &-descr {
    margin-top: 18px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #444444;
  }

  &-time {
    margin-top: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #828282;
  }
}

/////// Ourworks ///////

.ourWorks {
  padding-top: 90px;

  &__items {
    margin-top: 36px;
    .item {
      img {
        height: 280px;
        width: 100%;
      }
    }
  }
}

/////// Ads ///////

.ads {
  padding-top: 90px;

  &__items {
    display: flex;
    gap: 24px;
    margin-top: 36px;

    .item {
      border: 1px solid #e7e7e7;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;

      img {
        width: 100%;
        height: 280px;
        border-radius: 10px;
        object-fit: cover;
      }

      &__content {
        padding: 24px;

        &-title {
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
        }

        &-descr {
          margin-top: 10px;
          font-weight: 400;
          font-size: 16px;
          line-height: 125%;
          color: #666666;
        }
      }
    }
  }
}

/////// sertificates ///////

.sertificates {
  padding-top: 90px;

  &__items {
    display: flex;
    gap: 24px;
    margin-top: 24px;

    .item {
      img {
        width: 100%;
      }
    }
  }
}

/////// Contacts ///////

.contacts {
  padding-top: 90px;

  iframe {
    width: 100%;
    // filter: invert(100%);
  }

  .title {
    text-align: start;
    margin-bottom: 24px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 24px;

    &-left {
      flex: 1.3;
      .map {
        overflow: hidden;
        border: 1px solid #f5f5f5;
        border-radius: 10px;
        z-index: 1;
      }
    }

    &-right {
      flex: 0.7;
      height: 450px;
      background-color: #f5f5f5;
      padding: 46px;
      border-radius: 10px;

      .line {
        margin: 24px 0;
      }
    }

    &-data {
      .up {
        display: flex;
        align-items: center;
        gap: 8px;

        .text {
          font-weight: 400;
          font-size: 15px;
          line-height: 15px;
          text-transform: uppercase;
          color: #555555;
        }
      }
      .descr {
        margin-top: 14px;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

/////// Partners ///////

.partners {
  padding: 80px 0;

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;

    .item {
      border: 1px solid #e4e4e4;
      padding: 30px 15px;
      border-radius: 10px;
      img {
        height: 48px;
      }
    }
  }
}

/////// Footer ///////

.footer {
  background-color: #f1f1f1;
  padding: 32px 0;
  text-align: start;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &-text {
    margin-top: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #929292;
  }
}

.line {
  border: 1px solid #e3e3e3;
}

.slick {
  &-track {
    display: flex;
    gap: 24px;
  }
}

//////////////// dots

/* Контейнер для точек */
.slick-dots {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

/* Стили для каждой точки */
.slick-dots li {
  margin: 0 5px;
}

/* Кнопка внутри точки */
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 8px;
  height: 8px;
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #c2c2c2; /* Цвет неактивной точки */
}

/* Стили для активной точки */
.slick-dots li.slick-active button {
  background-color: white;
  border: 8px solid $primaryColor; /* Цвет активной точки */
}

.item {
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  img {
    // width: 100%;
    border-radius: 10px;
  }

  &__content {
    padding: 24px;

    &-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }

    &-descr {
      margin-top: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      color: #666666;
    }
  }
}

.stuff {
  display: flex;
  align-items: center;
  gap: 36px;
}

.overlay {
  display: none;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  backdrop-filter: blur(5px);
  z-index: 0;
}

#consultation,
#success {
  display: none;
}

.modal {
  z-index: 2;
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__close {
    position: absolute;
    top: 36px;
    right: 36px;
    cursor: pointer;
  }
}

.hamburger {
  display: none;
  text-align: right;
}

// Media queryies

// Media Header Section

@media (max-width: 1204px) {
  .header {
    .mainBtn {
      display: none;
    }
    .nav {
      ul {
        display: none;
      }
    }
  }

  .hamburger {
    display: block;
    text-align: right;
  }
}

@media (max-width: 528px) {
  .header {
    &__up {
      flex-direction: column;
      gap: 12px;
      align-items: end;
    }
  }
}

@media (max-width: 458px) {
  .header {
    &__down {
      .logo {
        width: 230px;

        img {
          width: 100%;
        }
      }
      gap: 12px;
    }
  }
}

// Media Main Section

@media (max-width: 468px) {
  .main {
    h1 {
      font-size: 38px;
    }

    .subtitle {
      font-size: 18px;
    }

    &__btns {
      flex-direction: column;
    }
  }
}

// Media Services Section

@media (max-width: 1048px) {
  .services {
    &__items {
      gap: 24px;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 728px) {
  .services {
    &__items {
      gap: 16px;
      grid-template-columns: 1fr;
    }
  }
}

// Media Reason Section

@media (max-width: 916px) {
  .reason {
    &__items {
      flex-wrap: wrap;
      align-items: flex-start;
      .itemm {
        text-align: start;
        flex: 1;
      }

      .arrow {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        // img {
        // }
      }
    }
  }
}

@media (max-width: 938px) {
  .reason {
    &__items {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 598px) {
  .reason {
    &__items {
      grid-template-columns: 1fr;
    }
  }
}

// Media Consultation Section

@media (max-width: 798px) {
  .consultation {
    &__item {
      padding: 40px 30px;

      .title {
        font-size: 32px;
      }

      .subtitle {
        font-size: 16px;
      }

      .inputs {
        flex-direction: column;
        gap: 16px;
      }

      .submit {
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}

// Media Consultation Section
// done

// Media aboutUs Section
@media (max-width: 968px) {
  .aboutUs {
    &__content {
      &-img {
        height: 450px;
        width: 100%;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
      gap: 24px;
      flex-direction: column;
    }
  }
}

@media (max-width: 560px) {
  .aboutUs {
    &__content {
      &-img {
        height: 320px;
        width: 100%;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

// Media contacts Section

@media (max-width: 878px) {
  .contacts {
    &__item {
      &-left {
        width: 100%;
      }
      &-right {
        width: 100%;
      }
      flex-direction: column;
    }
  }
}

@media (max-width: 500px) {
  .contacts {
    &__item {
      &-right {
        padding: 24px;
      }
    }
  }
}

// Media Partners Section

@media (max-width: 1200px) {
  .partners {
    &__items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 1000px) {
  .partners {
    &__items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 760px) {
  .partners {
    &__items {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 518px) {
  .partners {
    &__items {
      display: grid;
      grid-template-columns: 1fr;
      .item {
        display: flex;
        justify-content: center;
        img {
          height: 48px;
        }
      }
    }
  }
}

// Media Footer Section

@media (max-width: 1090px) {
  .footer {
    &__head {
      flex-direction: column;
      align-items: center;
      gap: 32px;

      .logo {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        img {
          width: 250px;
        }
      }

      .nav {
        flex-wrap: wrap;
        height: auto;
        ul {
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
    &-text {
      text-align: center;
    }
  }
}

/////////////// Menu

@media (max-width: 580px) {
  .menu {
    &__block {
      padding: 36px;
      transition: all 0.6s;
      height: 100vh;
      position: relative;
      background-color: $primaryColor;
      width: 100%;
      z-index: 10;
    }

    .nav {
      height: auto;
      a {
        color: white;
      }
      ul {
        flex-direction: column;
      }
    }
    .mainBtn {
      margin-top: 36px;
      border: 2px solid white;
    }
  }
}

///// Modal

@media (max-width: 780px) {
  .modal {
    z-index: 2;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__close {
      position: absolute;
      top: 36px;
      right: 36px;
      cursor: pointer;
    }
  }
}

@media (max-width: 480px) {
  .modal {
    width: 90%;
  }
}
